name: Testing
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master, dev ]
jobs:
  # Run the tests
  testing:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        lua-version: ['5.1', '5.2', '5.3', 'luajit']
    steps:
      - uses: actions/checkout@v1
      - uses: leafo/gh-actions-lua@v9
        with:
          luaVersion: ${{ matrix.lua-version }}
      - uses: leafo/gh-actions-luarocks@v4
      - name: Run tests
        run: luarocks test
  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: leafo/gh-actions-lua@v9
        with:
          luaVersion: "luajit"
      - uses: leafo/gh-actions-luarocks@v4
      - name: Install rocks
        run: |
          luarocks install luacov
          luarocks install luaunit 3.3
          luarocks install luacov-reporter-lcov
      - name: Run tests
        run: |
          lua -lluacov tests/run.lua
          luacov -c .luacov -v luacov.report.out -r lcov  
      - name: Upload to Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ./luacov.report.out
